div.div1 {
	border: solid; black; 1;
	height: 100px;
	width: 100px;
}

div.div2 {
	border: solid; green; 1;
	height: 100px;
	width: 100px;
}

div.div3 {
	border: solid; purple; 1;
	height: 100px;
	width: 100px;
}

button {
	background-color: lightblue;
	width: 20%;
	height: auto;
}