#div1 {
	border-style: solid;
	background-color: yellow;
	height: 100px;
	width: 20%;
	font-size: 40px;
}

#div2 {
	border-style; dotted;
	background-color: lightgray;
	height: 100px;
	width: 20%;
	font-size: 30px;
}

#div3 {
	border-style: dotted dashed solid double;
	background-color: beige;
	height: 100px;
	width: 20%;
	font-size: 20px;
}
div p:hover {
	font-weight: bold;
}

button {
	background-color: lightblue;
	width: 20%;
	height: auto;
}