#div1 {
	border: black;
	background-color: yellow;
	height: 100px;
	width: 20%;
}

#div2 {
	border: green;
	background-color: lightgray;
	height: 100px;
	width: 20%;
}

#div3 {
	border: purple;
	background-color: beige;
	height: 100px;
	width: 20%;
}

button {
	background-color: lightblue;
	width: 20%;
	height: auto;
}